body{
  margin: auto;
  width: 50%;
  background-color: rgb(5, 51, 51);
  text-align: center;
}

:root{
  --height:60px;
  --width:60px;
}

div{
  display: block;
  margin: 0px;
  border: none;
  padding: 0px;
}

#turnDiv{
  display: inline-block;
  background-color: white;
  width:100px;
  height:70px;
  font-size: 50px;
  color: red;
  border-radius: 50%;
  user-select: none;
}

div.rowDiv{
  display: block;
  margin: 0px;
  border: none;
  padding: 0px;
  height: var(--height);
}

div.tileDiv{
  display: inline-block;
  vertical-align:top;
  text-align:center;
  width: var(--width);
  height: var(--height);
  border:solid 0px;
  margin:0px 0px;
  padding:0px;
  font-size:3em;
  cursor: pointer;
  user-select: none;
}

.piece{
  padding:0px;
  margin:0px;
  position:absolute;
  vertical-align:top;
  text-align:center;

}

#flipBtn{
  display: inline-block;
  width:100px;
  height:70px;
  font-size: 50px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

#checkDiv {
  color: white;
}